@model LostAndFound.Models.ListItem

<h1>Detail of a found item</h1>
<p>Name: @Model.Name </p>
<p>Location the item was found: @Model.LocationFound</p>
<p>Date the item was found on @Model.DateFound </p>