@model AppMVC.Models.Book

<h1>Add a new book to the list</h1>

<Form>
    <label for="title">Title</label>
    <input type="text" id="title" name="title"/>

    <label for="volumes">Number of volumes</label>
    <input type="text" id="volumes" name="volumes"/>
</Form>

